{% extends "administrator/timetableList/fragEventsRead.html" %}

{% block event %}
{% with event_classes="event-editable" editable="true" %}
  {% include "administrator/timetableList/fragEventWrite.html" %}
{% endwith %}
{% endblock event %}

{% block after_events %}
<a href="javascript:;" class="js-btn-add-event addEvent pull-left btn btn-small">
  <span class="icon-plus"></span>Add event
</a>
<ul class="js-save-cancel-btns seriesEditActions pull-right" style="display: none;">
  <li class="pull-left">
    <a href="javascript:;" class="js-btn-cancel cancel">cancel</a>
  </li>
  <li class="pull-left">
    <a href="javascript:;" class="js-btn-save save btn btn-success" title="save event series" data-loading-text="Saving...">Save</a>
  </li>
</ul>
{% endblock after_events %}
