<table class="table table-striped">
  <tbody>
    {% for event in series.events %}
      {% block event %}
        {% with event_classes="" editable="false" %}
          {% include "administrator/timetableList/fragEventRead.html" %}
        {% endwith %}
      {% endblock event %}
    {% endfor %}
  </tbody>
</table>

{% block after_events %}
{% endblock after_events %}
