{% load url from future %}

<div class="series js-series" data-id="{{ series.unique_id }}"
    data-save-path="{% url "edit series" series.unique_id %}">
  <div class="series-title collapsed clearfix js-series-title">
    <h5 class="pull-left">
      {# This initially was an anchor but that gave issues when trying to edit the title in FF and IE #}
      <div class="js-collapse" data-toggle="collapse" data-target="#series-{{ series.unique_id }}-events">
        <span class="chevron icon-chevron-right js-expansion-indicator"></span>
        <span class="js-value title" data-save-path="{% url "edit series title" series.unique_id %}">{{ series.name }}</span>
        <span class="js-error-message error-message dontDisplayMe"></span>
      </div>
    </h5>
    {% block series_title_right %}
    {% endblock series_title_right %}
  </div>
  <div class="events js-events clearfix collapse"
      id="series-{{ series.unique_id }}-events">
  </div>
</div>
