{% extends "administrator/timetableList/read.html" %}
{% load url from future %}


{% block javascript_module %}timetable-list-write{% endblock javascript_module %}

{% block locked_alert %}
{% endblock locked_alert %}

{% block timetable_tab_nav %}
<ul class="nav nav-tabs">
  <li class="active">
    <a href="javascript:;">List</a>
  </li>
  <li>
    <a href="{% url "thing calendar" thing %}">Calendar</a>
  </li>
</ul>
{% endblock timetable_tab_nav %}

{% block before_general_series %}
<a href="#" class="btn btn-small addSeries js-btn-add-series"><span class="icon-plus"></span>Add series</a>
{% endblock before_general_series %}

{% block before_modules_content %}
<a href="#" class="btn btn-small pull-right js-btn-add-module js-prepend addModule"><span class="icon-plus"></span> Add module</a>
{% endblock before_modules_content %}

{% block after_modules_content %}
<a href="#" class="btn btn-small pull-right js-btn-add-module js-append addModule"><span class="icon-plus"></span> Add module</a>
{% endblock after_modules_content %}


{% block timetable_module %}
{% include "administrator/timetableList/fragModuleWrite.html" %}
{% endblock timetable_module %}

{% block top_level_series__series %}
{% include "administrator/timetableList/fragSeriesWrite.html" %}
{% endblock top_level_series__series %}

{% block additional_modals %}
<div class="js-timedout-modal modal dontDisplayMe">
  <div class="modal-header">
    <h3>Your session has timed out</h3>
  </div>
  <div class="modal-body">
    <p>Your session has timed out to enable other admins with edit rights to edit this timetable.</p>
    <p>Any unsaved changes have been lost.</p>
  </div>
  <div class="modal-footer">
    <a href="{% url "admin timetable" timetable_thing.fullpath %}" class="btn btn-primary">Close</a>
  </div>
</div>

<div class="js-date-time-dialog dialog dialog-date-time datePatternDialog popover bottom" style="display: none;">
  <div class="arrow"></div>
  <div class="popover-inner">
    <div class="popover-title clearfix">
      <h3 class="pull-left">When does this event take place?</h3>
      <a href="javascript:;" class="close js-close-btn" tabIndex="-1">&times;</a>
    </div>
    <div class="popover-content form-inline clearfix">
      <div class="date-time-form-row">
        <span class="control-group">
          <label class="first-label" for="date-time-week">Week</label>
          <input type="text" name="date-time-week" id="date-time-week"
             value="1"
             class="js-week input-mini eventDateTimeWeek"/>
        </span>

        <span class="control-group">
          <label for="date-time-term">in</label>
          <select id="date-time-term" name="date-time-term">
            <option value="michaelmas">Michaelmas</option>
            <option value="lent">Lent</option>
            <option value="easter">Easter</option>
          </select>
        </span>
      </div>
      <div class="date-time-form-row">
        <span class="control-group">
          <label class="first-label" for="date-time-day">on</label>
          <select id="date-time-day" name="date-time-day">
            <option value="thu">Thursday</option>
            <option value="fri">Friday</option>
            <option value="sat">Saturday</option>
            <option value="sun">Sunday</option>
            <option value="mon">Monday</option>
            <option value="tue">Tuesday</option>
            <option value="wed">Wednesday</option>
          </select>
        </span>
      </div>

      <div class="date-time-form-row">
        <span class="control-group">
          <label class="first-label" for="date-time-start-hour">From</label>
          <input type="text"
              value="09"
              class="js-hour js-start input-mini hours"
              name="date-time-start-hour"
              id="date-time-start-hour"
              min="-1" max="24">
        </span>

        <span class="control-group">
          <input type="text"
                value="00"
                class="js-minute js-start input-mini minutes"
                name="date-time-start-minute"
                id="date-time-start-minute"
                min="-15" max="60" step="15">
        </span>

        <span class="control-group">
          <label for="date-time-end-hour">To</label>
          <input type="text"
              value="10"
              class="js-hour js-end input-mini hours"
              name="date-time-end-hour"
              id="date-time-end-hour"
              min="-1" max="24">
        </span>

        <span class="control-group">
          <input type="text"
              value="00"
              class="js-minute js-end input-mini minutes"
              name="date-time-end-minute"
              id="date-time-end-minute"
              min="-15" max="60" step="15">
        </span>
      </div>

      <div class="dialog-actions pull-right">
        <a href="javascript:;" class="js-close-btn close-btn">cancel</a>
        <a href="javascript:;" class="btn js-ok-btn btn-success">Okay</a>
      </div>

    </div>
  </div>
</div>

{# All following templates are wrapped in script tags because having the elements directly in here with display none applied wouldn't be very nice.. #}
{# Templates for new events #}
<script id="js-templ-new-event" type="text/template">
  <tr class="event js-event event-editable event-new row-being-edited">
    <td title="Title" class="event-field eventTitle">
      <div class="js-field js-field-title event-input" contenteditable="true" data-value="" tabindex="0">
      </div>
    </td>

    <td title="Event Type" class="event-field eventType event-type-input-wrap js-event-type-input-wrap" data-value="" tabindex="0">
      <span class="event-type js-field js-field-type event-type-none">
      </span>

      <select class="input-medium event-type js-field js-field-type">
          <!--
          <option value="">&mdash;</option>
          -->
          <option value="" selected="selected">—</option>
          <option value="Practical">Practical</option>
          <option value="Language Class">Language Class</option>
          <option value="Lecture">Lecture</option>
          <option value="Laboratory">Laboratory</option>
          <option value="Seminar">Seminar</option>
      </select>
    </td>

    <td class="event-field js-date-time-cell eventDateTime" tabindex="0">
      <div class="event-input js-date-time-input-wrap">
        <span class="js-focus-catcher js-focus-catcher-before" tabindex="0"></span>
        <span title="Thursday 7th March ">
          <span>W </span><span data-value="1" class="js-field-week">1</span><span> in </span><span data-value="Michaelmas" class="js-field-term">Michaelmas</span><span>, on </span><span data-value="thu" class="js-field-day">Thu</span><span>&nbsp;</span></span><span class="js-field-start-hour">09</span><span>:</span><span class="js-field-start-minute">00</span><span>–</span><span class="js-field-end-hour">11</span><span>:</span><span class="js-field-end-minute">00</span>

        <div class="dialog-holder js-dialog-holder"></div>
        <span class="js-focus-catcher js-focus-catcher-after" tabindex="0"></span>
      </div>
    </td>

    <td title="Location" class="event-field eventLocation">
      <div class="js-field js-field-location event-input" tabindex="0" data-value="" contenteditable="true">
      </div>
    </td>

    <td title="Lecturer/host/etc" class="event-field eventLecturers">
      <div class="js-field js-field-people event-input" tabindex="0" data-value="" contenteditable="true">
      </div>
    </td>
    
    <td class="eventActions" tabindex="5">
      <ul class="buttons">
        <li>
          <a href="#" class="icon-trash remove js-remove-icon" title="remove"><span class="hideMe">remove</span></a>
        </li>
      </ul>
    </td>

  </tr>
</script>

{# New series title template #}
<script id="js-templ-new-series" type="text/template">
  <div class="series js-series">
    <div class="series-title collapsed clearfix js-series-title">
      <h5 class="pull-left">
        <div class="js-collapse">
          <span class="chevron icon-chevron-right js-expansion-indicator"></span>
          <span class="js-value title" data-save-path="/series/new"></span>
          <span class="js-error-message error-message dontDisplayMe"></span>
        </div>
      </h5>

      <p class="buttons js-series-buttons">
        <a href="#" class="icon-pencil js-edit-icon" title="edit"><span class="hideMe">edit</span></a>
        <a href="#" class="icon-plus-sign notImplemented" title="attach"><span class="hideMe">attach</span></a>
        <a href="#" class="icon-file notImplemented" title="duplicate"><span class="hideMe">duplicate</span></a>
        <a href="#" class="icon-trash notImplemented" title="remove"><span class="hideMe">remove</span></a>
      </p>
    </div>
  </div>
</script>

{# New series content template #}
<script id="js-templ-new-series-content" type="text/template">
  <div class="events js-events clearfix collapse">
    <table class="table table-striped">
      <tbody>
      </tbody>
    </table>

    <a href="javascript:;" class="js-btn-add-event addEvent pull-left btn btn-small">
      <span class="icon-plus"></span>Add event
    </a>
    <ul class="js-save-cancel-btns seriesEditActions pull-right" style="display: none;">
      <li class="pull-left">
        <a href="javascript:;" class="js-btn-cancel cancel">cancel</a>
      </li>
      <li class="pull-left">
        <a href="javascript:;" class="js-btn-save save btn btn-success" title="save event series" data-loading-text="Saving...">Save</a>
      </li>
    </ul>
  </div>
</script>

{# New module title template #}
<script id="js-templ-new-module" type="text/template">
  <div class="module js-module">
    <div class="js-module-title module-title clearfix">
      <h4 class="pull-left">
        <div class="js-collapse collapsed">
          <span class="chevron js-expansion-indicator icon-chevron-right"></span>
          <span class="title js-value" data-save-path="/module/new"></span>
          <span class="js-error-message error-message dontDisplayMe"></span>
        </div>
      </h4>

      <p class="buttons js-module-buttons">
        <a href="#" class="icon-pencil js-edit-icon" title="edit"><span class="hideMe">edit</span></a>
        <a href="#" class="icon-plus-sign notImplemented" title="attach"><span class="hideMe">attach</span></a>
        <a href="#" class="icon-file notImplemented" title="duplicate"><span class="hideMe">duplicate</span></a>
        <a href="#" class="icon-trash notImplemented" title="remove"><span class="hideMe">remove</span></a>
      </p>
    </div>
  </div>
</script>

{# New module content template #}
<script id="js-templ-new-module-content" type="text/template">
  <div class="moduleContent module-content js-module-content collapse">
    <a href="#" class="btn btn-small addSeries js-btn-add-series"><span class="icon-plus"></span>Add series</a>
    <div class="seriesList js-series-list">
      <p class="js-no-series no-series">This module contains no series.</p>
    </div>
  </div>
</script>

{% endblock additional_modals %}
