*{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}section,article,header,footer,nav,aside,hgroup{display:block;}.container{margin-left:auto;margin-right:auto;width:960px;padding:0 0px;overflow:hidden;}.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12,.grid_13,.grid_14,.grid_15,.grid_16,.grid_17,.grid_18,.grid_19,.grid_20{position:relative;display:inline;float:left;margin-left:8px;margin-right:8px;}.alpha{margin-left:0;}.omega{margin-right:0;}.grid_1{width:32px;}.grid_2{width:80px;}.grid_3{width:128px;}.grid_4{width:158px;}.grid_5{width:224px;}.grid_6{width:272px;}.grid_7{width:320px;}.grid_8{width:368px;}.grid_9{width:416px;}.grid_10{width:464px;}.grid_11{width:512px;}.grid_12{width:560px;}.grid_13{width:608px;}.grid_14{width:656px;}.grid_15{width:704px;}.grid_16{width:752px;}.grid_17{width:800px;}.grid_18{width:848px;}.grid_19{width:896px;}.grid_20{width:944px;}.prefix_1{padding-left:48px;}.prefix_2{padding-left:96px;}.prefix_3{padding-left:144px;}.prefix_4{padding-left:192px;}.prefix_5{padding-left:240px;}.prefix_6{padding-left:288px;}.prefix_7{padding-left:336px;}.prefix_8{padding-left:384px;}.prefix_9{padding-left:432px;}.prefix_10{padding-left:480px;}.prefix_11{padding-left:528px;}.prefix_12{padding-left:576px;}.prefix_13{padding-left:624px;}.prefix_14{padding-left:672px;}.prefix_15{padding-left:720px;}.prefix_16{padding-left:764px;}.prefix_17{padding-left:816px;}.prefix_18{padding-left:864px;}.prefix_19{padding-left:912px;}.suffix_1{padding-right:48px;}.suffix_2{padding-right:96px;}.suffix_3{padding-right:144px;}.suffix_4{padding-right:192px;}.suffix_5{padding-right:240px;}.suffix_6{padding-right:288px;}.suffix_7{padding-right:336px;}.suffix_8{padding-right:384px;}.suffix_9{padding-right:432px;}.suffix_10{padding-right:480px;}.suffix_11{padding-right:528px;}.suffix_12{padding-right:576px;}.suffix_13{padding-right:624px;}.suffix_14{padding-right:672px;}.suffix_15{padding-right:720px;}.suffix_16{padding-right:768px;}.suffix_17{padding-right:816px;}.suffix_18{padding-right:864px;}.suffix_19{padding-right:912px;}.push_1{left:48px;}.push_2{left:96px;}.push_3{left:144px;}.push_4{left:192px;}.push_5{left:240px;}.push_6{left:288px;}.push_7{left:336px;}.push_8{left:384px;}.push_9{left:432px;}.push_10{left:480px;}.push_11{left:528px;}.push_12{left:576px;}.push_13{left:624px;}.push_14{left:672px;}.push_15{left:720px;}.push_16{left:768px;}.push_17{left:816px;}.push_18{left:864px;}.push_19{left:912px;}.pull_1{left:-48px;}.pull_2{left:-96px;}.pull_3{left:-144px;}.pull_4{left:-192px;}.pull_5{left:-240px;}.pull_6{left:-288px;}.pull_7{left:-336px;}.pull_8{left:-384px;}.pull_9{left:-432px;}.pull_10{left:-480px;}.pull_11{left:-528px;}.pull_12{left:-576px;}.pull_13{left:-624px;}.pull_14{left:-672px;}.pull_15{left:-720px;}.pull_16{left:-768px;}.pull_17{left:-816px;}.pull_18{left:-864px;}.pull_19{left:-912px;}.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0;}hr{margin-top:-1px;}h5,h6,cite,.meta,.tooltip h5,.tooltip hr{margin-bottom:9px;}p,dl,hr,h1,h2,h3,h4,ol,ul,pre,img,cite,table,address,fieldset,.box{margin-bottom:18px;}



body,h5,h6{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}body{background:#DDD url(../img/bg-container.png) 50% 0 repeat-y;font-size:13px;line-height:18px;color:#444;-webkit-text-size-adjust:none;-webkit-font-smoothing:antialiased;}h1,h2,h3,h4,blockquote,





.meta{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:14px;line-height:32px}


li.active{color:#330066}



h1{font-size:48px;line-height:54px;letter-spacing:-2px;}h2{font-size:36px;}h3{font-size:28px;}h4,blockquote{line-height:27px;}h4,blockquote{font-size:22px;}h2,h3{line-height:36px;}h2,h3,h4,blockquote{letter-spacing:-1px; color:#330066}h5,h6,cite,{line-height:18px;}h5{font-size:13px;}h6{font-size:15px;text-transform:uppercase;}q,cite{font-style:italic;}cite{text-align:right;display:block;}cite,{font-size:12px;letter-spacing:0;}blockquote{padding-top:36px;background:transparent url(../img/sprite.png) no-repeat -16px -90px;}img{display:block;}a:link,a:visited,a:active{color:#333;text-decoration:none;}h1 a:link,h2 a:link,h3 a:link,h4 a:link,h1 a:visited,h2 a:visited,h3 a:visited,h4 a:visited,a:visited,a:hover{color:#333;text-decoration:none;}hr{border:0 solid;border-top-width:1px;clear:both;height:0;border-color:#CCC;}.box{padding:18px 16px 9px 16px;overflow:hidden;background:#F1F1F1;}.tooltip,.overlay{position:relative;}.tooltip.bottom{background:url(../img/icon-tooltip-pointer-bottom.png) no-repeat 32px 0;padding-top:9px;}.tooltip.top{background:url(../img/icon-tooltip-pointer-top.png) no-repeat 32px 100%;padding-bottom:9px;}.tooltip.left{background:url(../img/icon-tooltip-pointer-left.png) no-repeat 100% 32px;padding-right:9px;}.tooltip.right{background:url(../img/icon-tooltip-pointer-right.png) no-repeat 0 32px;padding-left:9px;}.tooltip span{padding:18px 16px 9px 16px;display:block;background:#F1F1F1;}.tooltip a.close,.overlay a.close{position:absolute;width:16px;height:16px;right:16px;display:block;text-indent:-9999px;overflow:hidden;background:transparent url(../img/icon-close.png) no-repeat;}.tooltip.bottom a.close{top:27px;}.tooltip.top a.close,.tooltip.left a.close,.tooltip.right a.close,.overlay a.close{top:18px;}.tooltip.left a.close{right:24px;}.content{padding-top:36px;padding-bottom:18px;}#globalMasthead{background:#333;}#globalMasthead #identifier{display:inline-block;height:45px;background:transparent url(../img/admin-help/sprite.png) -8px -9px;text-indent:-9999px;overflow:hidden;}#globalMasthead ul{margin-bottom:0;text-align:right;}#globalMasthead li{list-style-type:none;display:inline-block;float:left;}#globalMasthead li a{color:white;display:block;line-height:45px;padding:0 12px 0 11px;text-decoration:none;background:transparent url(../img/nav-divider-light.png) 100% 17px no-repeat;}#globalMasthead li a:hover{text-decoration:underline;}#globalMasthead li.first a{padding-left:0;}#globalMasthead li.last a{background:none;padding-right:0;}#globalMasthead form{height:45px;position:relative;}#globalMasthead #filters{position:absolute;top:36px;right:8px;background:white;width:202px;padding:0 7px;z-index:1;-webkit-box-shadow:0 0 0 4px rgba(0,0,0,.1);-moz-box-shadow:0 0 0 4px rgba(0,0,0,.1);box-shadow:0 0 0 4px rgba(0,0,0,.1);}#globalMasthead #filters span{display:block;border-top:1px solid #DDD;padding:11px 0 6px 0;}#globalMasthead input{margin-right:2px;}#globalMasthead #search{background:white;font-family:Georgia,'Times New Roman',serif;color:#666;font-size:13px;font-style:italic;width:202px;padding:6px 7px;z-index:2;position:absolute;top:9px;}#globalMasthead #submit{width:16px;height:16px;text-indent:-9999px;overflow:hidden;display:inline-block;background:transparent url(../img/sprite.png) -768px -17px no-repeat;position:absolute;top:14px;right:14px;z-index:3;cursor:pointer;}#globalMasthead.full-width{float:left;width:100%;}#globalMasthead.full-width #identifier{float:left;width:192px;}#globalMasthead.full-width nav{float:left;}#globalMasthead.full-width form{width:224px;float:right;}#localMasthead{margin-top:18px;height:72px;}#localMasthead h1,#localMasthead h2{display:inline;margin-bottom:0;}#localMasthead h1,#localMasthead h1 a{color:#444;}#localMasthead h2,#localMasthead h2 a{color:#666;}nav ul{margin-bottom:0;}nav li{list-style-type:none;display:inline-block;float:left;}nav a:link,nav a:visited,nav a:active{color:white;font-weight:bold;display:block;line-height:36px;padding:0 12px 0 11px;text-decoration:none;background:transparent url(../img/nav-divider-light.png) 100% 12px no-repeat;}nav a:hover{text-decoration:underline;}nav a.active{background-image:none;margin-left:-1px;padding-left:12px;}nav a:hover.active{text-decoration:none;}nav li.last a{background:none;}nav li.more{float:right;}nav li.more a{background:transparent url(../img/nav-arrow-light.png) 100% 50% no-repeat;padding-right:24px;}#navPrimary{background:#333;}#navSecondary{background:#555;}#navPrimary a.active{background-color:#555;}#navSecondary a.active,#navSecondary a.parent,#navSecondary a.child{background-color:white;}#navSecondary.crumb a:link,#navSecondary.crumb a:visited,#navSecondary.crumb a:active{color:#AAA;}nav #navPrimaryMore a,#navSecondary a.active,#navSecondary.crumb a.parent,#navSecondary.crumb a.child{color:#333;}#navSecondary a.parent{background:#EEE url(../img/nav-crumb.png) 100% 50% no-repeat;}#navSecondary a.child{background:transparent url(../img/nav-crumb.png) 100% 50% no-repeat;}#navSecondary a.parent,#navSecondary a.child{padding-right:18px;}#navSecondary.crumb a:link.active,#navSecondary.crumb a:visited.active,#navSecondary.crumb a:active.active{background:transparent url(../img/nav-divider-light.png) 100% 12px no-repeat;color:white;}.a-z{padding-top:18px;}.a-z li{list-style-type:none;}.a-z li a:link,.a-z li a:visited,.a-z li a:active{text-decoration:none;}.a-z li a:hover{text-decoration:underline;}#navPrimaryMore{background:#888;}#navSecondaryMore{background:#777;}#navPrimaryMore a,#navSecondaryMore a{color:white;}#navPrimary li.selected a{background-color:#888;}#navSecondary li.selected a{background-color:#777;}#footer{background:#333;padding-top:36px;padding-bottom:18px;}#footer ul{list-style-type:none;}#footer,#footer ul a{color:white;}#footer.full-width{float:left;width:100%;}#footer.full-width p{float:left;padding-left:8px;}#footer.full-width ul{width:224px;float:right;}
